<div class="modal-header">
  <h5 class="modal-title">Delete task:</h5>
  <button type="button" class="btn-close" (click)="activeModal.dismiss()"></button>
</div>
      <div class="modal-body" id="delModal">
        <h6>Are you sure to delete {{todo.title}}?</h6>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('Cross click')">Close</button>
        <button type="submit" (click)="onDelete(todo)" class="btn btn-primary">Delete</button>
      </div>
   